{% extends 'base.html'%}

{% block content %}
<nav>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/game/show_game">Play</a>
      </li>
      <li>
        <a href="/user/all_users">Leaderboard</a>
      </li>
    </ul>
  </nav>
  <hr>

  <h1>Leaderboard</h1>

  <table>
    <tr>
      <th><a href="/user/all_users/name">Name</a></th>
      <th><a href="/user/all_users/wins">Wins</a></th>
      <th><a href="/user/all_users/losses">Losses</a></th>
      <th><a href="/user/all_users/ties">Ties</a></th>
    </tr>
    {% for user in users %}
    <tr>
      <td> {{user.name}} </td>
      <td> {{user.wins}} </td>
      <td> {{user.losses}} </td>
      <td> {{user.ties}} </td>
    </tr>
    {% endfor %}
  </table>
  <h1>Most recent games</h1>

  <table>
    <tr>
      <th><a href="/user/all_users/user">Player</a></th>
      <th><a href="/user/all_users/opponent">Opponent</a></th>
      <th><a href="/user/all_users/winner">Winner</a></th>
    </tr>
    {% for game in games %}
    <tr>
      <td> {{game.user.name}} </td>
      <td> {{game.opponent}} </td>
      <td> {{game.winner}} </td>
    </tr>
    {% endfor %}
  </table>
  



{% endblock %}