img{
    width: 80px;
    height: 80px
}

body{
    background-color: black;
    font-family: "Orbitron";
    color: aliceblue;
}

h1 {
    font-size: xx-large;
    text-align: center;
    margin: 70px 0px;
    
}

.middle{
    font-size: xx-large;
    text-align: center;
    margin: auto;
    margin-top: 300px;
}
button:not(.game) {
    color: aliceblue;
    background-color: black;
    border: 1px solid aliceblue;
    width: 100px;
    height: 50px;
    margin: 20px;
    font-family: "Orbitron";
}

button:not(.game):hover {
    border: 1px solid rgb(28, 255, 11);;
}
.user_butt, form{
    text-align: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: "Orbitron";
}

input{
    height: 20px;
}
select{
    height: 30px;
}

ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    margin-top: 30px;
}
li{
    font-size: larger;
}
.play:not(h1){
    text-align: center;
    visibility: hidden;
    animation-delay: 5s;
    animation: Display 3s forwards;
}


.game{
    background-color: transparent;
    box-shadow: none;
    border: none
}
.buttons:hover{
    width: 120px;
    height: 120px
}


table, tr{
    width: 100%;
    border: 0.5px solid aliceblue;
    padding: 10px;
    border-collapse: collapse;

}
th{
    padding: 10px;
    text-align: left;
    font-size: larger;
    border: 0.5px solid aliceblue;
}

td{
    border: 0.5px solid aliceblue;
    padding: 10px;
    text-align: left;
    font-size:smaller;
}

a:hover, button:hover{
    color:rgb(28, 255, 11);
}

.arena{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid aliceblue;
    margin: 50px 0px;
    align-items: center;
    overflow: hidden;
    
}

.choice, .delay{
    width: 200px;
    height: 200px
}

.player_side, .computer_side{
    position: relative;
    width: 100%;
    height: 100%;
}

.choice {
    visibility: hidden;
    animation-delay: 5s;
    animation: Display 3s forwards;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.box{
    display: flex;
    justify-content: center;
}

.delay{
    animation: MoveUpDown 1s ease 3;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 15rem;
    transform: translate(-50%, -50%)
}
      
@keyframes MoveUpDown {
    0% {
        transform: translateY(0);
        visibility: visible;
        }
    50% {
        transform: translateY(-50px);
        visibility: visible;
        }
    100% {
        transform: translateY(0);
        visibility: hidden;
            }
}


@keyframes Display {
    0%{
        opacity: 0;
    }
    99% {
        opacity: 0;
        }
    100% {
        opacity: 1;
        visibility: visible;
        }
}

.result{
    visibility: hidden;
    animation-delay: 5s;
    animation: Display 3s forwards;
    color: rgb(28, 255, 11);
    margin: 20px 0;
}
#again{
    width: 100px;
    margin: 0;
}