{% extends 'base.html'%}


{% block content %}
<nav>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/game/play">Play</a>
      </li>
      <li>
        <a href="/user/all_users">Leaderboards</a>
      </li>
    </ul>
  </nav>
  <hr>
  <h1 class="play">You VS Computer</h1>
  <div class ='arena'>
    <div class="player_side">
    <!-- <div class="player"><img class="choice" src="/static/images/rock.svg"></div>
    <div class="computer"><img class="choice" src="/static/images/paper.svg"></div>
    <div class="player"><img class="choice" src="/static/images/scissors.svg"></div> -->
    <div class="player"><img class="choice" src="/static/images/{{ player }}.svg"></div>
    </div>
    <div class="computer_side">
    <!-- <div class="player"><img class="choice" src="/static/images/rock.svg"></div>
    <div class="computer"><img class="choice" src="/static/images/paper.svg"></div>
    <div class="player"><img class="choice" src="/static/images/scissors.svg"></div> -->
    <div class="computer"><img class="choice" src="/static/images/{{ computer }}.svg"></div>
  </div>
  </div>

<form action="/game/play" method="post">
{% for key in logic.keys() %}
    <button class = "game" type="submit" value="{{key}}" name="play"><img src="/static/images/{{key}}.svg"></button>
{% endfor %}
</form>

{% if player == computer %}
  <h1>It's a tie</h1>
{% elif logic[player] == computer %}
   <h3 class="play">{{computer}} beats {{player}}</h3><h1 class="play">Computer wins!</h1>
{% else %}
  <h3 class="play">{{player}} beats {{computer}}</h3><h1 class="play">You win!</h1>
{% endif %}

{% endblock %}
