{% extends 'base.html'%}


{% block content %}
<nav>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/game/play">Play</a>
      </li>
      <li>
        <a href="/user/all_users">Leaderboards</a>
      </li>
    </ul>
  </nav>
<h1>Hello</h1>
<form action="/game/play" method="post">
{% for key in logic.keys() %}
    <button type="submit" value="{{key}}" name="play"><img src="/static/images/{{key}}.svg"></button>
{% endfor %}
</form>

{% if player == computer %}
    <h1>It's a tie</h1>
{% elif logic[player] == computer %}
    <h1>{{computer}} beats {{player}}! Computer wins</h1>
{% else %}
    <h1>{{player}} beats {{computer}}! Player wins</h1>
{% endif %}

{% endblock %}
